/*This code has been tested on Google Chrome(Version 81.0.4044.129 (Official Build) (64-bit))in maximized mode with a screen resolution of 1366 x 768px */
body{
  background-image: url('First_Floor.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
}
a{color: white;
text-decoration: none;}
a:hover{color: black;}
.r1{
  position: relative;
  width: 450px;
  height: 340px;
  left: 285px;
}
.a11 {
  position: absolute;
  width: 142px;
  height: 85px;
  border: 5px solid #000004;
  background-color: #FF7F26;
  text-align: center;
}
.a12 {
  position: absolute;
  top: 88px;
  width: 142px;
  height: 90px;
  border: 5px solid #000004;
  background-color: #FF7F26;
  text-align: center;
}
.a13 {
  position: absolute;
  top: 180px;
  width: 142px;
  height: 90px;
  border: 5px solid #000004;
  background-color: #FF7F26;
  text-align: center;
}
.a14 {
  position: absolute;
  right: 0;
  width: 150px;
  height: 81px;
  border: 5px solid #000004;
  background-color: #FF7F26;
  text-align: center;
  }
.a15 {
  position: absolute;
  right: 0;
  top: 90px;
  width: 150px;
  height: 85px;
  border: 5px solid #000004;
  background-color: #FF7F26;
  text-align: center;
}
.a16 {
  position: absolute;
  bottom: 0px;
  width: 142px;
  height: 1.32cm;
  border: 5px solid #000004;
  background-color: #EE1B24;
  text-align: center;
  font-size: 8.5px;
  }
.a17 {
  position: absolute;
  right: 0;
  bottom:0px;
  width: 150px;
  height: 148px;
  border: 5px solid #000004;
  background-color: #00A3E8;
  text-align: center;
}
.r2{
  position: relative;
  width: 23cm;
  height: 8.2cm;
  left: 285px;
  bottom: 0px;
  }
.a21 {
  position: absolute;
  width: 142px;
  height: 68px;
  border: 5px solid #000004;
  background-color: #B97A57;
  text-align: center;
}
.a22 {
  position: absolute;
  top: 78px;
  width: 142px;
  height:4.2cm;
  border: 5px solid #000004;
  background-color: #00A3E8;
  text-align: center;
}
.a23 {
  position: absolute;
  left: 7.7cm;
  width: 244px;
  height: 153px;
  border: 5px solid #000004;
  background-color: #B5E51D;
  text-align: center;
}
.a24 {
  position: absolute;
  top: 0.2cm;
  right: 0;
  width: 8.4cm;
  height: 144px;
  border: 5px solid #000004;
  background-color: #00A3E8;
  text-align: center;
}
.a25 {
  position: absolute;
  bottom:0cm;
  right: 0;
  width: 5.8cm;
  height: 2.3cm;
  border: 5px solid #000004;
  background-color: #00A3E8;
  text-align: center;
}
.a26 {
  position: absolute;
  bottom:0cm;
  right: 6cm;
  width: 4.3cm;
  height: 2.3cm;
  border: 5px solid #000004;
  background-color: #00A3E8;
  text-align: center;
}
.a27 {
  position: absolute;
  bottom:0cm;
  right: 10.56cm;
  width: 2.25cm;
  height: 2.3cm;
  border: 5px solid #000004;
  background-color: #ED1B24;
  text-align: center;
}
button{
  background-color: red;
  }
